@font-face {
    font-family: AnonymousPro;
    src: url(Anonymous\ Pro.ttf);
}

body{
	margin: 0;
	color: white;
	height: 100%;
	font-family: AnonymousPro;
	background-color: black;
	font-size: 15.6px;
}


#top-nav {
    font-family: AnonymousPro;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}

.top-nav-link:hover {
	color: greenyellow;
}

.top-nav-link {
	margin-left: 20px;
	margin-right: 20px;
}

h1 {
    font-family: AnonymousPro;
    color: white;
	text-align: center;
	font-size: 22;
}

#top-banner {
	margin-left: 2%;
	z-index: 1000;
  
  }

  #terminal-box {
	z-index: 1000;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	height: 60%;
	border: 1.5px solid black;
	overflow-y: auto;
	font-size: 20px;
  }

  blue{
	color: blue;
  }
  
  .red {
	color: red;
  }
  
  #header-aye {
	  text-align: center;
	  margin-top: 5%;
	  margin-bottom: 5%;
  }
  
  .red::selection {
	  color: white;
	  background-color: red;
  }
  
  .blue::selection {
	  color: white;
	  background-color: blue;
  }